.technologyIcon {
  height: 25px;
  width: 25px;
  transition: 0.3s;
}

.expressIcon {
  height: 21px;
}

.reactIcon {
  height: 26px;
  width: 26px;
}

.technologyIcon:hover {
  scale: 1.2;
  filter: drop-shadow(0 0px 5px rgb(255, 248, 168));
}

.mainContainer {
  width: fit-content;
  background-color: rgba(255, 255, 255, 0.185);
  display: flex;
  border: 1px solid white;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.175);

  gap: 20px;
  align-items: center;
  justify-content: space-around;
  padding: 10px 20px;
  border-radius: 50px;
}
