.viewport {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 5px;
  width: 100%;

  min-height: 100%;
  background-image: url(../../../../public/static/images/pexels-photo-white.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  box-shadow: inset -1px 0px 71px 40px rgb(47 81 128 / 26%);
  overflow: hidden;
}

.mainContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  position: relative;

  width: 85%;
  max-width: 900px;
  height: fit-content;
  min-height: calc(100vh - 70px);
  padding: 20px;

  background-color: #ffffff8e;
  border-radius: 50px 50px 0 0;
  backdrop-filter: blur(13px);
}

.mainContainer.closed {
  margin-left: 30px;
  display: flex;

  flex-direction: column;

  position: relative;
  width: 300px;
  padding: 0px;
  height: calc(100vh - 30px);

  margin-right: 30px;
  background-color: #ffffff8e;
  border-radius: 50px 50px 0 0;
  backdrop-filter: blur(13px);
  padding-bottom: 0px;
}

.showcaseImg {
  width: 100%;
  border-radius: 50px;
  filter: grayscale(1);
}

@media only screen and (max-width: 1150px) {
  .mainContainer.closed {
    display: none;
  }

  .mainContainer {
    padding-top: 30px;
    margin-top: 15px;
    gap: 10px;
  }

  .expandedContainer {
    margin-right: 0;
    margin-top: 0;
  }
}

@media only screen and (max-height: 866px) {
  .mainContainer {
    margin-top: 30px;
  }
}
