.closeButton {
  position: absolute;
  top: 3%;
  right: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  font-family: "Montserrat";
  font-size: 1.7rem;
  font-weight: 200;

  background-color: #4f657f79;
  transition: 0.3s;
  cursor: pointer;
  opacity: 0;
}

.expandedContainer:hover > .closeButton {
  opacity: 1;
}

.closeButton:hover {
  scale: 1.2;
  box-shadow: 0 0 20px 0 #ffffff;
}

.crossIcon {
  height: 30px;
  width: 30px;
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
  overflow-y: auto;
}

.expandedContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 20px;
  position: relative;
  top: 25px;
  width: 80%;
  max-width: 900px;
  height: calc(100vh - 90px);
  padding: 20px;

  margin-right: 30px;
  background-color: #ffffff76;
  border-radius: 50px 50px 0 0;
  backdrop-filter: blur(13px);
}

.textContainer::-webkit-scrollbar {
  width: 5px;
}

.textContainer::-webkit-scrollbar-track {
  background-color: transparent;
  height: 30px;
  margin-block: 100px;
}
.textContainer::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.644);
  border-radius: 20px;
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  bottom: 30px;
  width: fit-content;
  padding: 10px;
  gap: 60px;
  border-radius: 50px;
  box-shadow: 0 0 20px 0 rgba(46, 57, 89, 0.202);
  backdrop-filter: blur(90px);
  align-self: center;
}

.bottomButton {
  padding: 10px 40px;
  font-family: "Montserrat";
  font-size: 1.3rem;
  font-weight: 300;
  transition: 0.2s;
  border: 1px solid transparent;
}

.bottomButton:hover {
  background-color: #4e6682;
  color: white;
  box-shadow: 0 0 10px 0 white;
  border: 1px solid white;
  transform: scale(1);
  cursor: pointer;
}
