.fullContainer {
  display: flex;

  gap: 20px;
  align-items: center;
  justify-content: center;
  position: relative;
  width: fit-content;
  max-width: 90%;
  margin: 30px;
  /* background-image: url(../../../../public/static/images/pexels-photo-white-blur.jpg); */
  background-repeat: no-repeat;
  background-size: auto;
  border-radius: 50px;
  height: 200px;

  background-color: #485769af;
}

.subtitle {
  font-weight: 500;
}

.textContainer {
  font-weight: 200;
  width: 50%;
  padding: 30px;
}

.textContainer > p {
  color: white;
}

.mainContainer {
  border-radius: 50px;
  overflow: visible;
  width: 80%;
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.152);
  border: 2px solid white;
  width: 350px;
  position: relative;
}

.imgContainer {
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-radius: 50px;
  height: 200px;
  top: -10px;
  object-fit: cover;
}

.link {
  height: 200px;
}

.projectTitle {
  font-size: 2rem;
  color: rgb(255 255 255);
  font-weight: 100;
  text-align: left;
  border: 1px solid white;
  background-color: rgb(110 123 137 / 64%);
  backdrop-filter: blur(20px);
  padding: 10px 20px;
  border-radius: 50px;
  position: absolute;
  top: -30px;
  z-index: 99;
}

.projectImg {
  width: 100%;
  height: 100%;
  border-radius: 50px;
  object-fit: cover;
  filter: saturate(0);
  transition: 0.3s;
  /* transform: translateY(20px); */
}

.bottomContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 20px;
}

.openMore {
  font-family: "Montserrat";
  font-weight: 100;
  font-size: 2.5rem;
  height: 40px;
  width: 40px;
  background-color: white;
  border: 0;
  outline: none;
  border-radius: 100%;
  display: flex;
  align-items: center;
  color: black;
  justify-content: center;
  box-shadow: 0 0 19px 0px #778390;
  margin-right: 30px;
  right: 7.5%;
  top: 60.9%;
  justify-self: flex-end;
}

.projectImg:hover {
  filter: saturate(1);
  scale: 1.05;
}

.mainContainerSmall {
  border-radius: 50px;
  overflow: hidden;

  height: 150px;
  gap: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.152);
  border: 2px solid white;
  width: 80%;
  position: relative;
}

.projectTitleSmall {
  font-size: 2rem;
  color: rgb(255 255 255);
  font-weight: 100;
  text-align: left;
  border: 1px solid white;
  background-color: rgb(110 123 137 / 64%);
  backdrop-filter: blur(20px);
  padding: 10px 20px;
  border-radius: 50px;
  width: calc(100% - 40px);

  z-index: 99;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.openMore {
  margin-right: -8px;
}

@media only screen and (max-width: 850px) {
  .fullContainer {
    flex-direction: column;
    height: fit-content;
    min-width: fit-content;
  }

  .textContainer {
    padding: 30px;
    width: 85%;
  }
}
